<template>
    <div>
        <h1>Hello from {{ compiler }} and {{ framework }}!</h1>
        <h2>Combination : {{combineString}}</h2>
        <h1>Combine : {{combine(999)}}</h1>
        <span>so my value : {{getValueById('stringTest')}}</span>
        <h3>Name List: </h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="name in names" :key="name">
                    <td>
                        {{name}}
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>Test Rest API</h3>
        <button type="button" 
                @click="testRest"
                class="btn btn-light">
            Click
        </button>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
import { MyAPI } from '../rest-api/myAPI';

@Component({
    props: ['framework', 'compiler']
})
export default class Hello extends Vue {
    framework: string;
    compiler: string;
    names: string[] = ['Jack', 'Budi', 'Cindy', 'Andy', 'Axel'];
    get combineString(): string {
        return this.framework + ' ' + this.compiler;
    }
    combine(n: number): string {
        return this.framework + n;
    }
    getValueById(id: string): string{
        let idValue = <HTMLSpanElement>document.getElementById(id);
        return idValue.innerHTML;
    }
    async testRest() {
        let api = new MyAPI({
            baseUri: 'https://localhost:44337/'
        })

        let result = await api.getStudent({
            name: 'Ryan'
        });
        console.log(result);
    }
}
</script>
